*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.col-md-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-md-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-md-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-md-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-md-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-md-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-md-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-md-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-md-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-md-12 {
  flex: 0 0 auto;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo img {
  width: 80%;
}
.nav-items {
  display: flex;
}
.nav-items li {
  list-style: none;
  padding-left: 40px;
}
.nav-items li a {
  color: gray;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
}
/* Start hero slider section */
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.img-2 {
  width: 90%;
}
.img-1 {
  width: 8%;
}
.slider-img {
  display: flex;
  align-items: center;
}
.title h1 {
  font-size: 30px;
}
.title p {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(77, 77, 77);
  margin: 10px 0;
}
.btn {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background: #000;
  font-weight: 600;
  padding: 13px 25px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 5px;
}
